:root {
  --button-color: #34174d;
  --color-1: #d40997;
  --color-2: #a913d6;
  --color-3: #48077c;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.author button {
  background: var(--button-color);
  height: 100%;
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
  margin: 10px;
}

.author button {
  animation: mudar-cor 10s infinite;
}

@keyframes mudar-cor {
  0% {
    background-color: var(--color-1);
  }
  33% {
    background-color: var(--color-2);
  }
  66% {
    background-color:var(--color-3);
  }
  100% {
    background-color: var(--color-1);
  }
}

a {
  text-decoration: none;
}
